@charset "utf8";

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root{
    --primary-color: #252217;
    --primary-color-light: #4d493d;
    --primary-color-dark: #000;

    --secondary-color: #af670a;
    --secondary-color-light: #e6953f;/*pode ser usado em contraste com a primária*/
    --secondary-color-dark: #7a3c00;

    --text-color-primary: white;
    --text-color-secondary: black;

    --font-title: 'Lato', sans-serif;
    --font-text: 'Roboto', sans-serif
}
* {
    margin: 0px;
    padding: 0px;
}

header{
    height: 144px;
    background-color: var(--primary-color);
}

h1#title{
    font: normal 400 1.8em var(--font-title) ;
    color: var(--text-color-primary);
    margin: 0px;
}

span#title-gold{
    color: var(--secondary-color-light);    
}

ul#menu li{
    display: inline;
    margin: 0px 13px 0px 0px;
}

nav a{
    text-decoration: none;
    font: normal normal 1em var(--font-title);
    
    color: var(--text-color-primary);
}

nav a:hover{
    color: var(--secondary-color-light);
}
