@charset "utf8";
/*#region atributos*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root{
    --primary-color: #252217;
    --primary-color-light: #4d493d;
    --primary-color-dark: #000;

    --primary-color-with-transparence: #25221749;
    --primary-color-light--with-transparence: #4d493d31;

    --secondary-color: #af670a;
    --secondary-color-light: #e6953f;/*pode ser usado em contraste com a primária*/
    --secondary-color-dark: #7a3c00;

    --text-color-primary: white;
    --text-color-secondary: black;

    --font-title: 'Lato', sans-serif;
    --font-text: 'Roboto', sans-serif
}
/*#endregion */

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-text);
}

body{
    background-color: #f4f2ec ;
}


header{
    height: 144px;
    background-color: var(--primary-color);
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.26);
}

.default-img{
    width: 100%;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.301);
}

div#container-header{
    max-width: 1100px;
    height: 144px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 21px;
}

h1#title{
    font: normal 400 1.8em var(--font-title) ;
    color: var(--text-color-primary);
    margin: 0px;
}

h2{
    font: normal bold 1.1em var(--font-title);
    color: var(--secondary-color-dark);
    margin-bottom: 8px;
}

a.link-default{
    text-decoration: none;
    color: var(--secondary-color);
    font: normal normal 0.9em var(--font-text);
}

a.link-default:hover{
    text-decoration: underline;
    color: var(--secondary-color-light);
}

p.p-default{
    font: normal normal 1em var(--font-text);
    text-align: justify;
    padding: 5px;
}

ul.links-list{
    list-style-position: inside;
}

span#title-gold{
    color: var(--secondary-color-light);    
}

ul#menu li{
    display: inline;
    margin: 0px 0px 0px 13px;
}

nav a{
    text-decoration: none;
    font: normal normal 1em var(--font-title);
    
    color: var(--text-color-primary);

    margin-top: 30px;
}

nav a:hover{
    transition: color 0.5s, text-shadow 0.5s;
    color: var(--secondary-color-light);
    text-shadow: 0px 0px 1px var(--secondary-color-light) ;
}

main{
    max-width: 1100px;
    /*background-color: violet;*/
    margin: auto;
    z-index: 1;
    margin-top: -34px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section{
    max-width: 710px;
    flex-grow: 1;
}

div#container-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article{
    width: 350px;
    /*background-color: yellowgreen;*/
    display: inline-block;
    margin: 13px 0px;
    padding: 8px;
    box-sizing: border-box;
}

.aside-content{
   box-sizing: border-box;
   padding: 21px;
}

form#cadastro-visita, nav#galeria{
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.363);
}

form#cadastro-visita{
    width: 350px;
    background-color: var(--primary-color-with-transparence);
    backface-visibility: 0.1;
    margin: 13px 0px;
}

input, label{
    font-size: 0.9em;
}

nav#galeria{
    width: 350px;
    background-color: var(--primary-color-light--with-transparence);
}

div#galeria-container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


div.image-background{
    width: 126px;
    height: 133px;
    background: url("../_imagens/fundo-foto.png") no-repeat center center;
    text-align: center;
}

input.button-check{
    width: 100%;
    margin-top: 13px;
    height: 34px;
    background-color: var(--secondary-color);
}

img.img-galeria{
    margin-top: 20px;
}

/*#region footer*/
footer{
    margin-top: 34px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav#footer-nav{
    display: block;
    width: 100%;
    text-align: center;
}

div#copyright{
    display: block;
    margin: 13px 0px 34px 0px;
}
/*#endregion*/