@charset "utf8";

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root{
    --primary-color: #252217;
    --primary-color-light: #4d493d;
    --primary-color-dark: #000;

    --secondary-color: #af670a;
    --secondary-color-light: #e6953f;/*pode ser usado em contraste com a primária*/
    --secondary-color-dark: #7a3c00;

    --text-color-primary: white;
    --text-color-secondary: black;

    --font-title: 'Lato', sans-serif;
    --font-text: 'Roboto', sans-serif
}
* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f4f2ec ;
}

header{
    height: 144px;
    background-color: var(--primary-color);
}

.default-img{
    width: 100%;
}

div#container-header{
    max-width: 1100px;
    height: 144px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1#title{
    font: normal 400 1.8em var(--font-title) ;
    color: var(--text-color-primary);
    margin: 0px;
}

h2{
    font: normal bold 1.1em var(--font-title);
    color: var(--secondary-color-dark);
    margin-bottom: 8px;
}

a.link-default{
    text-decoration: none;
    color: var(--secondary-color);
    font: normal normal 0.9em var(--font-text);
}

a.link-default:hover{
    text-decoration: underline;
    color: var(--secondary-color-light);
}

p.p-default{
    font: normal normal 1em var(--font-text);
}

ul.links-list{
    list-style-position: inside;
}

span#title-gold{
    color: var(--secondary-color-light);    
}

ul#menu li{
    display: inline;
    margin: 0px 0px 0px 13px;
}

nav a{
    text-decoration: none;
    font: normal normal 1em var(--font-title);
    
    color: var(--text-color-primary);

    margin-top: 30px;
}

nav a:hover{
    transition: color 0.5s, text-shadow 0.5s;
    color: var(--secondary-color-light);
    text-shadow: 0px 0px 1px var(--secondary-color-light) ;
}

main{
    max-width: 1100px;
    /*background-color: violet;*/
    height: 800px;
    margin: auto;
    z-index: 1;
    margin-top: -34px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section{
    max-width: 710px;
    flex-grow: 1;
}

div#container-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article{
    width: 350px;
    /*background-color: yellowgreen;*/
    display: inline-block;
    margin: 13px 0px;
    padding: 8px;
    box-sizing: border-box;
}
